body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('main_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #4285F4;
    margin-bottom: 20px;
    font-family: 'Product Sans', Arial, sans-serif;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-bar {
    width: 500px;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 5px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
    outline: none;
}

button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 272px;
    height: 92px;
}
